@media screen and (max-width: 558px) {
    .popup__icon {
        height: 27px;
        width: 27px;
    }
}

@media screen and (max-width: 320px) {
    .popup__icon {
        height: 20px;
        width: 20px;
    }
}