.popup__save {
    min-height: 50px;
    margin: 48px 8.37209302% 37px;
    border-radius: 2px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    border: none;
}
@media screen and (max-width: 320px) {
    .popup__save {
        min-height: 46px;
        margin: 45px 25px 22px;
        font-size: 14px;
        line-height: 17px;
            }
}