.profile-info__edit-button {
    display: flex;
    min-width: 24px;
    min-height: 24px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 18px;
    background-color: black;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    align-self: flex-end;
}
@media screen and (max-width: 320px) {
    .profile-info__edit-button {
        margin-right: auto;
        margin-left: 18px;        
    }
}